services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taya
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
